@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.alert {
	display: block;
	position: fixed;
	top: 50px;
	right: 25px;
	width: 25%;
	min-height: 50px;
	max-height: 100px;
	background-color: #39c5a2;
	text-align: center;


	color: $white;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 1rem;
	animation: opacity 0.4s; 
	padding: 10px;
	border-radius: 10px;

	.active {
		display: block;
	}

	&.error {
		background-color: $accent;
		color: $white;
	}

	&.info {
		background-color: #50c1e9;
	}

	&.warning {
		background-color: #f75940;
		color: $white;
	}
}
