@import 'src/assets/styles/variables';

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main {
	position: relative;
	background-image: url('/public/images/home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@include fade-bg-gradient();

	@media (max-width: 1000px) {
		background-image: url('/public/images/home-bg.jpg');
	}
}

.main_inner {
	height: 100%;
	max-height: 1000px;
	display: flex;
	flex-direction: column;
	padding: 180px 0 90px;

	@media (max-width: 800px) {
		max-height: 100%;
		padding-bottom: 70px;
		padding-top: 200px;

		align-items: center;
	}

	@media (max-width: $mobile) {
		padding-top: 150px;
	}

	.button {
		margin: 10px auto 10px 75px;
		button {
			font-size: 25px;
			text-transform: uppercase;
			font-weight: 700;
			border-radius: 0;
			transform: skewX(-12deg);
			border-radius: 15px;

			@media (max-width: $mobile) {
				font-size: 18px;
	
			}
		}

		@media (max-width: 1200px) {
			margin-left: 60px;
		}

		@media (max-width: 800px) {
			margin: 10px 0 45px 0;
		}

		@media (max-width: $mobile) {
			margin: 0 0 15px 0;
		}
	}
}

.heading {
	margin: 38px 15px 30px 105px;
	padding: 30px 30px;
	color: $white;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	line-height: 1.5;
	z-index: 1;
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 650px;
	text-align: start;


	&::before {
		display: block;
		content: '';
		width: 95%;

		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: skewX(-10deg);
		z-index: -1;
		background: rgba($black, 0.7);
		border-radius: 15px;

		@media (max-width: $mobile) {

			width: 100%;
		}
	}

	@media (max-width: 1200px) {
		margin-left: 80px;
	}

	@media (max-width: 1000px) {
		font-size: 30px;
		margin-left: 80px;
		margin-right: 0;
	}

	@media (max-width: 800px) {
		font-size: 30px;
		margin-left: 30px;
		margin-right: 0;
	}

	@media (max-width: 600px) {
		margin-left: 0;
		font-size: 26px;
	}

	@media (max-width: $mobile) {
		font-size: 22px;
		margin-left: 0;
		margin-bottom: 10px;

		text-align: center;

	
	}
}

.main_items {
	display: flex;
	justify-content: space-between;

	width: 100%;


	padding: 0 3%;

	

	@media (max-width: 1200px) {
	
	}

	@media (max-width: 800px) {
		flex-direction: column;
		margin-top: 75px;
		align-items: center;
	}

	@media (max-width: $mobile) {
		margin-top: 50px;
	}

	.main_item {
		z-index: 1;
		position: relative;
		display: flex;
		align-items: start;
		justify-content: center;

		height: 245px;
		padding: 0 50px;

		width: 32%;
		margin: 25px 0 0;

		@media (max-width: 1300px) {
			height: 260px;
		}

		@media (max-width: 1200px) {
			height: 300px;
		}

		@media (max-width: 1000px) {
			height: 290px;
		}

		@media (max-width: 800px) {
			height: 150px;
			width: 90%;
			margin-top: 0px;
			padding-top: 10px;
			padding-bottom: 5px;
		}

		@media (max-width: 600px) {
			margin-top: 10px;
		}

		@media (max-width: $mobile) {
			height: 100px;
			width: 95%;
			margin-top: 10px;
			padding-left: 20px;
			padding-right: 20px;

		}

		@media (max-width: 420px) {
			margin-top: 15px;
		}

		@media (max-width: 370px) {
			margin-top: 25px;
		}

		&::before {
			display: block;
			content: '';
			width: 100%;

			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			transform: skewX(-10deg);
			z-index: -1;
			background: rgba(#fff, 1);
			border-radius: 15px;

			@media (max-width: 800px) {
				height: 83%;
	
			}

			@media (max-width: 600px) {
				height: 100%;
			}

			@media (max-width: $mobile) {
				height: 90%;
				margin: auto;
				top: 10px;
				left: 0;
				right: 0;


			}

			@media (max-width: 420px) {
				height: 100%;
				width: 96%;
				top: 5px;
			}
		}

		.main_item_in {
			color: $black;

			padding-top: 25px;
			margin: 0 auto;
			transform: skew(-10deg);

			@media (max-width: 800px) {
				padding-top: 0;
			}

			@media (max-width: $mobile) {
				width: 100%;
				margin: auto;
				display: flex;
				align-items: center;
				transform: skew(0);
			}

			.main_item_title {
				min-height: 40px;
				line-height: 30px;

				margin-bottom: 10px;
				padding-right: 10px;

				font-weight: 700;
				font-size: 21px;
				text-transform: uppercase;

				@media (max-width: 1000px) {
					font-size: 18px;
					line-height: 25px;
				}

				@media (max-width: 800px) {
					margin-bottom: 0;
				}

				@media (max-width: $mobile) {
					min-height: min-content;
					width: 100%;
					font-size: 14px;
					padding-right: 0;
					text-align: center;
				}


			}

			.main_item_description {
				line-height: normal;
				margin-top: auto;
				font-size: 18px;
				font-style: italic;
				word-spacing: normal;
				letter-spacing: 1px;


				@media (max-width: 1000px) {
					font-size: 16px;
				}

				@media (max-width: 800px) {
					font-size: 14px;
				}

				@media (max-width: $mobile) {
					display: none;
				}
			}
		}
	}
}

// Slider
.auto {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

// Stages of work
.stages {
	padding: 30px 0;

	position: relative;
	background-image: url('/public/images/home-bg-stage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #2b2727;

	border-image: fill 0 linear-gradient(360deg, #0009, #0009);

	@include fade-bg-gradient;
}
