@import 'src/assets/styles/variables';

.input {
	background-color: $white;
	border: 1px solid transparent;
	color: #000;
	font-size: 18px;
	padding: 12px;
	border-radius: 10px;
	margin-bottom: 0.7em;
	outline: none;
	width: 100%;

	&:focus {
		border-color: rgba($accent, 0.3);
	}

	&::placeholder {
		color: #946e86;
	}
}

.error {
	color: #8d2b3d;
	position: absolute;
	left: 20px;
	font-size: 1rem;
	line-height: 1;

	@media (max-width: $mobile) {
		font-size: 14px;
		font-weight: 500;
	}
}
