@import 'src/assets/styles/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba($black, 0.7);

	height: 100px;
	width: 100%;
	padding: 15px 0 15px 25px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	@media (max-width: $tablet) {
		flex-wrap: wrap;
	}

	@media (max-width: 800px) {
		max-width: 100%;
	}

	@media (max-width: $mobile) {
		justify-content: space-between;
	}


	> button {
		background-color: transparent; 
		border: none;
		outline: none;
		cursor: pointer;
		> div {
			font-family: $default-font4;
			color: $white;
			font-size: 16px;
			line-height: 0;
			font-weight: 400;
			transform: translateY(0px);

		}
	}
	> ul {
		list-style: none; 
		display: flex;
		justify-content: center;
		min-width: 500px;
		margin-top: 20px;
		margin-bottom: 20px;

		@media (max-width: $tablet) {
			min-width: 430px;
		}

		@media (max-width: 1000px) {
			min-width: 380px;
		}

		@media (max-width: 800px) {
			display: none;
		}

		a {
			font-size: 23px;
			margin: 0 16px;
			color: $white;
			text-decoration: none;
			font-weight: bold;
			transition: color 0.2s ease;
			&:hover,
			&.active {
				color: $accent;
			}

			@media (max-width: 1000px) {
				margin: 0 8px;
				font-size: 19px;
			}
		}
	}
	.social {
		display: flex;
		align-items: center;
		padding-right: 25px;

		@media (max-width: 800px) {
		}

		> a.phones {
			font-size: 18px;
			margin-right: 35px;
			margin-left: 15px;
			color: $white;
			text-decoration: none;
			font-weight: bold;
			transition: color 0.2s ease;

			&:hover {
				opacity: 0.5;
			}

			@media (max-width: 1200px) {
				display: none;
			}
		}

		> a.phones_min {
			display: block;
			margin-right: 25px;

			> img {
				float: right;

				width: 30px;
				height: 30px;
				background-color: $accent;
				border-radius: 5px;
			}

			@media (min-width: 800px) {
				display: none;
			}
		}

		> a.telegram {
			margin-right: 15px;
			> img {
				float: right;

				width: 30px;
				height: 30px;
			}

			&:hover {
				opacity: 0.5;
			}

			@media (max-width: 1200px) {
				margin-right: 30px;
			}

			@media (max-width: 800px) {
				margin-right: 20px;
			}
		}
	}
}

.hamburger {
	display: none;

	@media (max-width: 800px) {
		display: block;
		text-align: center;
		margin-top: 5px;
	}
}

.button_send {
	button {
		@media (max-width: 1000px) {
			font-size: 16px;
			padding: 13px 30px;
		}
	}

	@media (max-width: 800px) {
		display: none;
	}
}
