@import 'src/assets/styles/variables';
@import 'src/assets/styles/animations';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.75);

	// opacity: 0;
	overflow: hidden;
	overflow-y: auto;
	transition: opacity 0.7s;
	z-index: 3003;
}

.modal_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%; 
	min-height: 100%; 
}

.modal_content {
	position: relative;
	margin: 20px;
	width: 100%;
	max-width: 500px;
	border-radius: 20px;
	background-color: #1b1b1b;
	padding: 40px 20px 20px 20px;
	transform: translateY(-50px);
	transition:
		opacity 0.7s,
		transform 0.7s;

	> form > div > button {
		background-color: $accent !important;
		@media (max-width: 800px) {
			margin-top: 17px;
		}

		@media (max-width: $mobile) {
			margin-top: 10px;
		}
	}

	h2 {
		text-align: left;
		font-size: 29px;
		font-weight: 700;
		line-height: calc(1em + 5px);
	}

	p {
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 20px;
		line-height: calc(1em + 5px);
		padding-right: 15px;
	}

	@media (max-width: 800px) {
		p {
			font-weight: 400;
			text-align: left;
			padding-left: 5px;
		}
	}

	@media (max-width: $mobile) {
		max-width: 350px;
		

		h2 {
			font-size: 22px;
		}

		p {
			font-size: 14px;
			margin-bottom: 10px;
			font-weight: 400;
			text-align: left;
		}
	}
}

.modal_close_button {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 30px;
	height: 30px;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.label {
	display: block;
	font-size: 17px;
	text-align: left;

	@media (max-width: $mobile) {
		font-size: 15px;

		> div {
			margin-bottom: 17px !important;
		}
	}
}

.required_star {
	color: #f25353;
	margin-left: 0px;
}
